# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
.venv/
venv/
env/

# Packaging
build/
dist/
*.egg-info/
.eggs/

# Django
*.log
db.sqlite3
db.sqlite3-journal
local_settings.py
media/
staticfiles/

# Environment variables
.env
.env.*
!.env.example

# Celery
celerybeat-schedule
celerybeat.pid

# Test/coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# Type checkers/lint
.mypy_cache/
.pyre/
.ruff_cache/

# IDE/editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Docker
*.pid
